NEXT_PUBLIC_SUPABASE_URL=https://kbtfhmczzsldtyifaaoi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtidGZobWN6enNsZHR5aWZhYW9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyMzMwNzMsImV4cCI6MjA2MjgwOTA3M30.cpEgSfjs-F4ck0smjwphYgm3GLmtQUa3UBWeLuLEVU0
